@import "_variables";
@import "_reset.scss";

body {
  display: flex;
  width: 100vw;
  height: 100%;
}

.left {
  z-index: -1;

  position: fixed;
  width: 30%;
  height: 100%;
  background-color: #f0f0f0;

  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 150px;

  h1 {
    width: 60%;
    margin-top: 40px;
    margin-bottom: 30px;

    line-height: 1.1;
    letter-spacing: 5px;
    font-size: 50px;
    color: $textColor;
  }

  .intro {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: $textColor;
  }

  .text {
    width: 60%;
    font-size: 17px;
    word-break: break-all;

    margin-top: 21px;
    color: $textColor;
  }

  .site {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    a {
      margin-right: 5px;
      margin-bottom: 5px;

      text-decoration: none;
      color: black;
      opacity: 0.7;
      border-bottom: 1px solid;

      &:hover {
        opacity: 1;

        @keyframes upDown {
          0% {
            transform: none;
          }
          50% {
            transform: translateY(-5px);
          }
          100% {
            transform: none;
          }
        }
        will-change: transform;
        animation: upDown 0.5s ease-in-out infinite;
      }
    }
  }

  .small {
    width: 60%;
    margin-top: 20px;

    span {
      word-break: break-all;
      font-size: 10px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

/* 오른쪽*/

.right {
  width: 70%;
  height: 100vh;
  margin-left: 30%;

  main {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 5%,
        transparent,
        transparent,
        transparent,
        transparent
      )
      #e33e35;

    width: 100%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
    .fix {
      position: fixed;
      z-index: +1;
      opacity: 0.9;

      height: 100px;
      right: 0;
      left: 30.5%;
      top: 0;

      background-color: #e7473c;
      display: flex;
      justify-content: center;
      align-items: center;
      /*e7473c*/
      span {
        left: 50%;
        color: white;
      }
    }

    .title {
      width: 85%;
      padding-top: 130px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;

      span {
        color: white;
        font-size: 20px;
        font-weight: 200;
      }

      span:first-child {
        font-size: 30px;
        opacity: 0.8;
      }

      span:nth-child(2) {
        font-size: 10px;
        opacity: 0.5;
        padding-top: 25px;

        &:hover {
          font-size: 35px;
          color: black;
          opacity: 1;
        }
      }
    }
    a {
      img {
        width: 85%;
        height: 70%;
      }
    }
  }
}
